{% extends "base.html" %}

{% block texto_barra %}Acerca de{% endblock %}

{% block content %}

<div class="container">
<p>Este trabajo forma parte del Proyecto I+D <em>Los trabajos de las mujeres en la Andalucía Moderna, TRAMA</em>.</p>

<p>TRAMA está financiado por el Programa FEDER (B-HUM-724-UGR20)</p>

Investigadoras principales:
<a href="https://www.ugr.es/personal/margarita-maria-birriel-salcedo">Margarita María Birriel Salcedo</a> e
<a href="https://hmoderame.ugr.es/pages/profesorado/area-historia-moderna/catedratica">Inmaculada Arias de Saavedra Alías</a>.
</div>
{% endblock %}