{% load static %}<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Base de datos del proyecto TRAMA" />
        <meta name="author" content="Proyecto TRAMA" />
        <title>Proyecto Trama</title>
        <!-- Favicon-->
        <!--<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'trama/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container px-4 px-lg-5 h-10" style="height: 100px;"> 
                <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'trama/trama_imgs/2. Horizontal/jpg/Blanco y negro/trama_Horizontal negro.jpg' %}"
                    class="img-fluid" style="max-height: 110px;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><!-- --></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {% block tab_inicio %}<li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><i class="bi bi-house-door"><!-- --></i> Inicio</a></li>{% endblock %}
                        {% block tab_buscador %}<li class="nav-item"><a class="nav-link" href="{% url 'search' %}"><i class="bi bi-binoculars"><!-- --></i> Buscador</a></li>{% endblock %}
                        {% block tab_listado %}<li class="nav-item"><a class="nav-link" href="{% url 'listado' %}"><i class="bi bi-card-list"><!-- --></i> Obras</a></li>{% endblock %}
                        {% block tab_autores %}<li class="nav-item"><a class="nav-link" href="{% url 'listado_autores' %}"><i class="bi bi-palette"><!-- --></i> Autores</a></li>{% endblock %}
                        {% block tab_admin %}<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="bi bi-lock"><!-- --></i> Admin</a></li>{% endblock %}
                        {% block tab_acerca %}<li class="nav-item"><a class="nav-link" href="{% url 'acerca' %}"><i class="bi bi-book"><!-- --></i> Acerca de</a></li>{% endblock %}                    
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 h-10 my-1">
                <div class="text-white">
                    <h1 class="display-6 fw-bolder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% block texto_barra %}Proyecto TRAMA{% endblock %}</h1>
                </div>
            </div>
        </header>

            <section class="py-4">
                <div class="container px-4 px-lg-5 mt-2 ml-5">
                    <!-- <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"> -->
                     {% block content %} {% endblock %}
                    <!-- </div> -->
                </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">&copy; Copyright Proyecto TRAMA 2022 - <a href="https://twitter.com/TramaUGR" class="text-white">Síguenos en Twitter</a>
</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'trama/scripts.js' %}"></script>
    </body>
</html>