{% extends "base.html" %}{% load static %}

{% block texto_barra %}Inicio{% endblock %}

{% block content %}
<div class="row">
    <img src="{% static 'trama/imagen_portada.jpg' %}"
    class="img-fluid img-thumbnail float-left col-sm-1 col-md-2 col-xs-12"/>
<div class="float-left col-sm-10 col-md-10 col-xs-12 mt-5 px-5">
    <p>
    En esta web se aloja una base de datos fruto del trabajo realizado en el proyecto
<em>Los trabajos de las mujeres en la Andalucía Moderna, TRAMA</em>. Programa FEDER (B-HUM-724-UGR20).
</p>
<p>
En ella se han registrado obras de arte de muy diversa naturaleza, propias de la Edad Moderna y
ajustadas al ámbito andaluz en las que se pueden advertir a mujeres realizando diversos trabajos.</div>
</p></div>
 
{% endblock %}