{% extends "base.html" %}

{% block texto_barra %}Buscador{% endblock %}

{% block content %}

  {%if query %}
    <table class="table table-striped">
      <caption class="text-center">Consulta: <strong>'{{query}}'</strong>.
        Número de obras encontradas:  <strong>{{query_result.count}}</strong></caption>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre de la obra</th>
            <th>Autor</th>
            <th>Relevancia</th>
            <th>Ir a detalle</th>
          </tr>
        </thead>
        <tbody>
          {% for obra, score in query_result %}
      <tr>
        <td>{{obra.id}}</td>
        <td><em>{{obra.nombre_obra}}</em></td>
        <td>{{obra.autor}}</td>
        <td>{{score}}%</td>
        <td><a href="{% url 'detalle_obra' obra.pk %}" alt="Mostrar detalle"><i class="bi bi-search"></i></a></td>
      </tr>
    {% endfor %}</tbody>
    </table>

  {% else %}
      <form action="{% url 'search_result' %}" method="GET" id="form1">
        <div class="form-group container">
        <fieldset>
          <div class="mx-sm-3 mb-2 row">
            <div class="col-sm-1 col-md-1 col-xs-1"></div>
          <input type="text" id="query" name="query"
          class="float-left col-sm-5 col-md-5 col-xs-5"/>
          <div class="col-sm-1 col-md-1 col-xs-1"></div>
          <input type="submit" value="Buscar" class="btn-light ma-2 mb-2 float-left col-sm-1 col-md-1 col-xs-1" />
         </div>
        </fieldset>
        </div>
     </form>
  {% endif %}
{% endblock %}
