{% load static %}<!doctype html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Basic HTML5 Template</title>
    <meta name="description" content="Base de datos del proyecto TRAMA.">
    <meta name="author" content="Proyecto TRAMA">
    <link rel="stylesheet" href="{% static 'trama/main.css' %}">
    </head>
<body>
<h1>Buscador</h1>

<div class="topnav">
    <a href="{% url 'index' %}">Inicio</a>
    <span class="active" href=".">Buscador</span>
    <a href="{% url 'listado' %}">Listado</a>
    <a href="admin">Administrar</a>
    <a href="{% url 'acerca' %}">Acerca de</a>
  </div>
  <hr/>
  {%if query %}
  Le query: <strong>{{query}}</strong>
  {% else %}
  
  <form action="{% url 'search_result' %}" method="POST" id="form1">
    {% csrf_token %}
    <fieldset>
      <textarea id="query" name="query"
      rows="5" cols="33"></textarea>
    </fieldset>
    <input type="submit" value="Buscar">

  </form>
  {% endif %}
</body>
</html>